body {
  background: #3f51b5;
  width: 99%;
  height: 99%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0 !important;
}